.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 20px;

  .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

  h1 {
    margin: 20px 0 10px;
    font-size: 24px;
    font-weight: bold;
  }

  p {
    margin-bottom: 30px;
    color: var(--ion-color-medium);
  }

  form {
    width: 100%;
    max-width: 400px;
  }
}

